<form [formGroup]="editProductForm" (ngSubmit)="editProductForm.valid && editProduct()">
  <table>
    <tr>
      <td>Id:</td>
      <td><input type="text" formControlName="id"></td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        <input type="text" formControlName="name">
        <ng-container *ngIf="
        name.invalid && name.dirty">
          <p *ngIf="name.errors?.required">ten bat buoc phai nhap</p>
        </ng-container>
      </td>
    </tr>
    <tr>
      <td>Category</td>
      <td>
        <select id="category" formControlName="category">
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button>Submit</button></td>
    </tr>
  </table>
</form>

