<form #createProductForm="ngForm" (ngSubmit)="createProductForm.valid && submit(createProductForm)">
  <p *ngIf="createProductForm.invalid">Form nhap chua dung</p>
  <table>
    <tr>
      <td>Price:</td>
      <td><input type="text" ngModel name="price"></td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        <input type="text" required #name="ngModel"
                 name="name"
                 ngModel>
        <ng-container *ngIf="
        name.invalid && name.dirty">
          <p *ngIf="name.errors?.required">ten bat buoc phai nhap</p>
        </ng-container>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button>Submit</button></td>
    </tr>
  </table>
</form>

